<div class="dialog">
    <mat-dialog-content >
            <div>
              <mat-form-field class="example-full-width">
                <input [value]="username" (input)="username = $event.target.value"  matInput placeholder="Username">
            </mat-form-field>
            </div>

            <div>
              <mat-form-field class="example-full-width">
                <input [value]="password" (input)="password = $event.target.value"  matInput placeholder="Password" >
              </mat-form-field>
            </div>
              
      </mat-dialog-content>
      <mat-dialog-actions>
        <div >
          <button mat-raised-button (click)="onCloseDialog()">Close</button>
          <button mat-raised-button (click)="onLoginClick(username,password)"  >Login</button>
        </div>
      </mat-dialog-actions>
      <div>{{ messageLogin }}</div>
</div>
