<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>Curso Angular</span>
  <button mat-button>Home</button>
  <button mat-button >Company</button>
  <button mat-button >Portafolio</button>
  <button mat-button >Blog</button>

</mat-toolbar>
<mat-sidenav class="docs-component-viewer-sidenav mat-drawer mat-sidenav ng-tns-c15-1 ng-trigger ng-trigger-transform mat-drawer-over" tabindex="-1">
  <!----><nav>
    <h3>Form Controls</h3>
    <ul>
      <!----><li>
        <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/autocomplete" class="">
          Autocomplete
        </a>
      </li><li>
        <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/checkbox">
          Checkbox
        </a>
      </li><li>
        <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/datepicker">
          Datepicker
        </a>
      </li><li>
        <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/form-field" class="">
          Form field
        </a>
      </li><li>
        <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/input" class="">
          Input
        </a>
      </li><li>
        <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/radio">
          Radio button
        </a>
      </li><li>
        <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/select">
          Select
        </a>
      </li><li>
        <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/slider">
          Slider
        </a>
      </li><li>
        <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/slide-toggle">
          Slide toggle
        </a>
      </li>
    </ul>
  </nav><nav>
    <h3>Navigation</h3>
    <ul>
      <!----><li>
        <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/menu" class="">
          Menu
        </a>
      </li><li>
        <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/sidenav" class="">
          Sidenav
        </a>
      </li><li>
        <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/toolbar">
          Toolbar
        </a>
      </li>
    </ul>
  </nav><nav>
    <h3>Layout</h3>
    <ul>
      <!----><li>
        <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/list">
          List
        </a>
      </li><li>
        <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/grid-list" class="docs-component-viewer-sidenav-item-selected">
          Grid list
        </a>
      </li><li>
        <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/card">
          Card
        </a>
      </li><li>
        <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/stepper" class="">
          Stepper
        </a>
      </li><li>
        <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/tabs">
          Tabs
        </a>
      </li><li>
        <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/expansion" class="">
          Expansion Panel
        </a>
      </li>
    </ul>
  </nav><nav>
    <h3>Buttons &amp; Indicators</h3>
    <ul>
      <!----><li>
        <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/button">
          Button
        </a>
      </li><li>
        <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/button-toggle">
          Button toggle
        </a>
      </li><li>
        <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/chips">
          Chips
        </a>
      </li><li>
        <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/icon">
          Icon
        </a>
      </li><li>
        <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/progress-spinner">
          Progress spinner
        </a>
      </li><li>
        <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/progress-bar">
          Progress bar
        </a>
      </li>
    </ul>
  </nav><nav>
    <h3>Popups &amp; Modals</h3>
    <ul>
      <!----><li>
        <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/dialog" class="">
          Dialog
        </a>
      </li><li>
        <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/tooltip">
          Tooltip
        </a>
      </li><li>
        <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/snack-bar">
          Snackbar
        </a>
      </li>
    </ul>
  </nav><nav>
    <h3>Data table</h3>
    <ul>
      <!----><li>
        <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/table">
          Table
        </a>
      </li><li>
        <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/sort">
          Sort header
        </a>
      </li><li>
        <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/paginator">
          Paginator
        </a>
      </li>
    </ul>
  </nav>
</mat-sidenav>